.calendar-container {
  padding-top: 1.25rem;
  width: 37.5rem; /* Set the desired width */
  margin: 0 auto; /* Center the container horizontally */
}

.calendar-header {
  position: relative;
  font-weight: bold;
  font-size: 1.25rem;
}

.arrow-button {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  cursor: pointer;
}

.arrow-button:hover {
  background-color: #f0f0f0;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 12rem;
  transform: translateY(-50%);
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 12rem;
  transform: translateY(-50%);
}

.other-month {
  opacity: 0.5;
}

.square-cell {
  height: 5rem;
  font-size: 0.625rem;
  position: relative;
  padding: 0.625rem 0.3125rem 0 0 !important;
}

.square-cell.current-date {
  /* Add styles for the current date circle */
  position: relative;
}

.square-cell.current-date::before {
  content: attr(data-date);
  position: absolute;
  top: 22%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(0, 119, 255, 0.3); /* Set the desired semi-transparent color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
}

.square-cell.current-date > span {
  position: relative; /* Make the date number stack above the circle */
  z-index: 1; /* Ensure the date number appears above the circle */
}

.calendar-status {
  width: 95%;
  font-size: 0.625rem;
  padding: 0.125rem 0.375rem;
  border-radius: 0.0625rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Add styles for Available date */
.calendar-status.available {
  background-color: rgba(0, 255, 0, 0.4); /* Soft green color */
}

/* Add styles for Booked date */
.calendar-status.booked {
  background-color: rgba(255, 0, 38, 0.3); /* Soft pink color */
}

/* Add styles for Partially Available date */
.calendar-status.partially-available {
  background-color: rgba(255, 221, 0, 0.4); /* Soft yellow color */
}
